.block-agency-center {
    width: 1600px;
    height: 343px;
    text-align: center;
}

h2#awesome-agency{
    width: 1600px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-family: Gotham-Bold, serif;
    margin-top: 162px;
    margin-left: 7px;
    letter-spacing: 0.5px;
    font-size: 37px;
}

span#W{
    position: absolute;
    margin-top: 39px;
    margin-left: -90px;
    font-family: Roboto-BoldCondensed, serif;
    font-size: 247px;
    opacity: 18%;
    color: white;

}

.agency-block{
    display: flex;
    justify-content: space-around;
    height: 275px;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.agency-circle{
    height: 153px;
}

.background-circle{
    display: flex;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: #2e85aa;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.background-circle i{
    font-size: 43px;
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 9px;
}

.block-1 i, .block-2 i, .block-3 i{
    margin-left: 10px;
}

.block-4 i{
    margin-top: -3px;
}

.block-1, .block-2, .block-3, .block-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multiline-agency-feature-text{
    text-align: center;
    font-family: 'Gotham-Book', Arial, serif;
    font-size: 15px;
    color: white;
    line-height: 1.6;
}

.feature-text{
    height: 47px;
    font-size: 17px;
    font-family: Gotham-Medium, serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.6px;
}

.block-1 .multiline-agency-feature-text, .block-3 .multiline-agency-feature-text, .block-4 .multiline-agency-feature-text{
    margin-top: -2px;
}

.block-1 .feature-text{
    margin-left: 5px;
}

.block-2 .feature-text{
    margin-left: 13px;
    margin-top: -1px;
}

.block-3 .feature-text, .block-4 .feature-text{
    margin-top: -1px;
    margin-left: -9px;
}

.agency-zoom-icon{
    margin-left: -6px;
    margin-top: 5px;
}


