.blog-area {
    position: relative;
    background: rgb(255, 255, 255);
    height: 930px;
}

.block-header {
    position: relative;
    height: 249px;
    width: 50%;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.block-header-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    height: 185px;
}

.blog-background-letter {
    position: absolute;
    font-family: 'Roboto-BoldCondensed', serif;
    font-size: 247px;
    color: rgb(225, 225, 225);
    top: -54px;
    left: 44px;
    z-index: 1;
}

.block-front-title {
    position: absolute;
    white-space: pre;
    font-family: 'Gotham-Medium', serif;
    font-size: 37px;
    color: rgb(34, 34, 34);
    top: 69px;
    z-index: 2;
    word-spacing: 1px;
}

.block-front-description {
    font-family: 'Gotham-Book', serif;
    font-size: 30px;
    margin-top: auto;
    margin-left: 9px;
}

.block-blog {
    margin-top: 74px;
    width: 1232px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.block-column-1,
.block-column-2{
    width: 270px;
}

.block-column-1{
    margin-left: 31px;
}
.block-column-2{
    margin-left: 29px;
    width: 270px;
}

.block-img{
    width: 100%;
    height: 280px;
    top: 1px;
}

.block-text-unit,
.block-text-unit-3{
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
}
.block-text-unit-1{
    width: 285px;
    margin-top: 36px;
    margin-left: 2px;
}
.block-text-unit{
    width: 265px;
}
.block-text-unit-3{
    width: 275px;
}

.block-text-title{
    font-family: 'Gotham-Medium', serif;
    font-size: 18px;
    color: rgb(17, 116, 158);
    white-space: pre;
}
.block-title-indent-1{
    margin-left: 3px;
}
.block-title-indent-2{
    margin-left: 5px;
}
.block-title-indent-3{
    margin-left: 9px;
}
.block-title-indent-4{
    margin-left: 0;
}

.block-text-content-1,
.block-text-content{
    font-family: 'Gotham-Book', serif;
    font-size: 15px;
    color: rgb(34, 34, 34);
    text-align: center;
}
.block-text-content{
    font-size: 15px;
}
.block-text-content-1{
    font-size: 14px;
    letter-spacing: -0.7px;
}

.block-multiline-text {
    margin-top: 16px;
}
.block-multiline-text p {
    line-height: 1.6;
}

.block-multiline-text-1 {
    margin-top: 16px;
}
.block-multiline-text-1 p {
    line-height: 1.705;
}

.block-content-indent-1{
    margin-left: -24px;
}
.block-content-indent-2{
    margin-left: -3px;
}
.block-content-indent-3{
    margin-left: 7px;
}
.block-content-indent-4{
    margin-left: -7px;
}