@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/Helvetica-Light.otf') format('opentype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BoldCondensed';
    src: url('../fonts/Roboto-BoldCondensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}