.header-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 445px;
}

.header-container{
    display: flex;
    flex-direction: column;
    height: 764px;
}

.header-h1{
    letter-spacing: -8px;
    color: white;
    font-family: Gotham-Bold, serif;
    font-size: 153px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -10px;
    height: 179px;
}

.header-text{
    color: #11749E;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 18px;
    font-size: 19pt;
    font-weight: 400;
    font-family: Gotham-Medium, serif;
    margin-left: 18px;
    line-height: 1.3;
}

.scroller{
    display: flex;
    flex-direction: column;
    height: 209px;
    text-align: center;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;

}

.scroller-icon{
    margin-left: -6px;
}

.scroller-text{
    color: white;
    line-height: 1.7;
    margin-left: -1px;
}

.arrow{
    font-size: 34px;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    align-content: center;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    border: white 1px solid;
}
