*{
    margin: 0;
    padding: 0;
}

header{
    height: 881px;
    width: 100%;
    background-image: url("../img/about_agency_bg.jpg");
}

html{
    scroll-behavior: smooth;
}

i{
    color: white;
}

.container{
    width: 1600px;
    max-width: 1600px;
}

body{
    width: 1600px;
    max-width: 1600px;
}

.about-agency{
    height: 737px;
    background-color: #11749E;
}

#block-header-contact{
    position: relative;
    top: 88px;
    height: 297px;
    margin-left: auto;
    margin-right: auto;
}

#form-contact-area{
    position: relative;
    top:106px;
    height: 237px;
    width: 1168px;
    left: 218px;
    margin-right: auto;
}

.form-small{
    height: 43px;
    width: 347px;
    margin-bottom: 40px;
    margin-right:25px;
    padding-left: 21px;
    padding-top: 3px;
    font-family: 'Gotham-Book', Arial, serif;
    font-size: 15px;
    color: white;
    border-color:white;
    border-width: 1px;
    background-color: rgb(0, 0, 0, 0);
}

#form_big{
    height: 132px;
    width: 1145px;
    padding-left: 21px;
    padding-top: 16px;
    font-family: 'Gotham-Book', serif;
    font-size: 15px;
    color: white;
    border-color:white;
    border-width: 1px;
    background-color: rgb(0, 0, 0, 0);
    margin-bottom: 42px;
}

#button-submit{
    position: relative;
    box-sizing: content-box;
    border-width: 0;
    height: 44px;
    width: 87px;
    background-color: #11749e;
    font-family: 'Gotham-Medium', serif;
    font-size: 24px;
    padding: 5px 78px 15px 62px;;
    color:white;
    text-transform: uppercase;
    left:515px;
}

button:hover {
    cursor: pointer;
}

#button-submit:active {
    background-color: #015c82;
    color: aliceblue;
}

#contact-area{
    position: relative;
    width: 1600px;
    height: 852px;
    background-image: url('../img/contact_area_bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

footer{
    display: flex;
    height: 114px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}
