*{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url("../img/about_agency_bg.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.header-text{
    color: #11749E;
}

nav{
    width: 100%;
    border-bottom: 1px solid #ffffff;
    height: 116px;
    display: flex; /* Включить Flexbox */
    justify-content: space-between; /* Равномерно распределить элементы по горизонтали */
    align-items: center; /* Выровнять элементы по вертикали по центру */
    padding: 10px 0; /* Отступы для выравнивания */
}

.nav-menu,
.social-icons {
    list-style: none; /* Убрать маркеры списка */
    margin: 0; /* Убрать внешний отступ */
    padding: 0; /* Убрать внутренний отступ */
}

.nav-menu li,
.social-icons li {
    display: inline; /* Сделать элементы списка инлайновыми (в строку) */
    margin-right: 20px; /* Расстояние между элементами списка */
}

.logo {
    display: flex;
    align-items: center; /* Выровнять элементы по вертикали по центру */
}

nav .social-icons{
    display: flex;
}

nav .nav-menu li{
    margin-left: 47px;
}

nav .nav-menu{
    display: flex;
    margin-right: 20px;
}

nav .social-icons{
    display: flex;
}

.logo{
    position: absolute;
    width: 100%;
}

.logo-text{
    z-index: 3;
    display: flex;
    color: white;
    letter-spacing: normal;
    font-size: 31px;
    font-family: OpenSans-Bold, serif;
}

ul{
    list-style: none;
}

div .blue-square{
    /*position: absolute;*/
    width: 67px;
    height: 67px;
    background-color: #11749e;
    z-index: 2;
}

div .white-square{
    /*position: absolute;*/
    width: 67px;
    height: 67px;
    background-color: white;
    z-index: 1;
}

.main-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

p .logo-text{
    color: white;
}

p .header-content{
    color: #11749E;
}

header .nav-menu{
    display: flex;
    list-style-type: none;
    margin-right: 100px;
    color: white;
    font-family: OpenSans, serif;     /* TODO шрифты под вопросом!!!! */
}

i{
    color: white;
}

.container{
    width: 1600px;
    max-width: 1600px;
}



body{
    width: 1600px;
    max-width: 1600px;
}

h1{
    color: white;
    font-family: Gotham-Bold, serif;
    font-size: 153px;
    text-transform: uppercase;
    text-align: center;
    /*font-weight: 700;*/
}

p{
    /*TODO ВОЗМОЖНО ПРИДЁТСЯ ОБЕРНУТЬ H1 И P В КАКОЙ-ТО КЛАСС*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 25px;
    font-family: Gotham-Medium, serif;
}

.fa-angle-down{
    align-items: center;
}

.awesome-agency{
    height: 738px;
    background-color: #11749E;
}

.footer{
    font-family: Roboto, serif;
    font-size: 13pt;
    letter-spacing: normal;
    text-transform: none;

}
footer{
    height: 114px;
    width: 100%;
    align-content: center;
    background-color: #222222;
}
h2#awesome-agency{
    color: white;
    text-transform: uppercase;
    letter-spacing: normal;
    font-family: Gotham-Bold, serif;
    font-size: 37.55pt;
    font-weight: 400;
}

span#W{
    font-family: Roboto-BoldCondensed, serif;
    font-size: 247.18pt;
    opacity: 18%;
    color: white;

}
/*.awesome-agency{*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/