nav{
    width: 1600px;
    border-bottom: 1px solid #ffffff;
    height: 116px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
}

.social-icons{
    width: 141px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
    margin-right: 5px;
}

.fa-facebook, .fa-linkedin, .fa-skype, .fa-twitter{
    transition: color 0.3s, transform 0.3s;
}

.fa-facebook:hover, .fa-linkedin:hover, .fa-skype:hover, .fa-twitter:hover{
    color: #11749e;
    transform: scale(1.2);
}

.nav-menu a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    position: relative;
}

nav a.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    background: #11749e;
    position: absolute;
    bottom: -39px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scaleX(1);
}

.logo-text{
    margin-left: 15px;
    margin-top: 11px;
    display: flex;
    color: white;
    letter-spacing: normal;
    font-size: 31px;
    font-family: OpenSans-Bold, serif;
}

.logo-main{
    width: 50px;
    height: 50px;
    display: flex;
}

.blue-square{
    position: absolute;
    left: 214px;
    top: 21px;
    width: 67px;
    height: 68px;
    background-color: #11749e;
    z-index: 1;
}

.white-square{
    margin-top: -4px;
    margin-left: 20px;
    width: 68px;
    height: 67px;
    background-color: white;
}

header .nav-menu{
    display: flex;
    list-style-type: none;
    color: white;
    font-family: OpenSans, serif;     /* TODO шрифты под вопросом!!!! */
    width: 660px;
    justify-content: space-between;
    font-size: 18px;
}

.links{
    margin-top: 19px;
    width: 860px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.main-container{
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    display: flex;
    justify-content: space-between;
}
