.news-cell-1 {
    width: calc(50% + 1px);
    background-color: rgb(34, 34, 34);
}

.news-cell-2 {
    width: calc(50% - 1px);
}

.news-cell-3 {
    width: 50%;
}

.news-cell-4 {
    width: 50%;
    background-color: rgb(243, 243, 243);
}

.news-row-1 {
    display: flex;
    height: 447px;
}
.news-row-2 {
    display: flex;
    height: 474px;
}

.news-img-1 {
    width: 100%;
    height: 447px;
}
.news-img-2 {
    width: 100%;
    height: 447px;
}

.news-text-1 {
    margin-left: 213px;
    margin-top: 81px;
}

.news-text-2 {
    margin-left: 78px;
    margin-top: 104px;
}

.news-text-white,
.news-multiline-text-1 p{
    color: rgb(255, 255, 255);
}

.news-text-black,
.news-multiline-text-2 p{
    color: rgb(34, 34, 34);
}

.news-text-date,
.news-text-title {
    white-space: pre;
}
.news-text-date {
    font-family: 'Gotham-Book', serif;
    font-size: 13px;
    margin-left: 4px;
}
.news-text-title {
    font-family: 'Gotham-Medium', serif;
    font-size: 25px;
    margin-top: 11px;
    margin-left: 2px;
}

.news-multiline-text-1,
.news-multiline-text-2{
    margin-top: 31px;
}
.news-multiline-text-1 p,
.news-multiline-text-2 p{
    line-height: 1.62;
    white-space: pre;
    font-family: 'Gotham-Book', serif;
    font-size: 15px;
}

.news-multiline-text-next-paragraph-1 {
    margin-top: 23px;
}
.news-multiline-text-next-paragraph-2 {
    margin-top: 22px;
}